{% extends 'main\base.html' %}

{% block content %}
    {% include "main\nav.html" %}
    <div class="container">
        <h1 class="center-align"> Languages I Love 😍 </h1>
        <div class="row">
            <ul class="collection">
                <li class="collection-item">Python 💪🏼</li>
                <li class="collection-item">JavaScript 👍🏼</li>
                <li class="collection-item">C 🤏🏼</li>
            </ul>
            <h2 class="center-align">Other Skills</h2>
            <ul class="collection">
                <li class="collection-item">Data Structures & Algorithms 💪🏼</li>
                <li class="collection-item">Problem Solving Skiils 💪🏼</li>
                <li class="collection-item">Django 👍🏼</li>
                <li class="collection-item">Git 👍🏼</li>
                <li class="collection-item">Web Development 🤏🏼</li>
            </ul>
        </div>
    </div>
{% endblock %}