{% extends 'main\base.html' %}

{% block content %}
    {% include 'main\nav.html' %}
    <div class = "container">
        <h1 class="center-align">Home Page</h1>
        <div class="row">
            <div class="col s12 m12">
              <div class="card blue-grey darken-1">
                <div class="card-content white-text">
                  <span class="card-title">Card Title</span>
                  <p>Learning one card implementation.</p>
                 </div>
                 <div class="card-action">
                   <a href="#">Github</a>
                   <a href="#">Linkedin</a>
                 </div>
              </div>
            </div>
        </div>
    </div>
{% endblock %}